.index {
  background-color: var(--blue-1);
  width: 100%;
  padding: 5px 0 calc(25px + var(--footer-height)) 0;
}

.index-description {
  padding: 100px 40px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    var(--white-2),
    var(--blue-2) 50%,
    var(--blue-2)
  );
  border-image-slice: 1;
  border-left-width: 0;
  background: var(--blue-2);
  font-family: var(--header-font);
  font-size: 33px;
  color: var(--white-1);
}

.index > svg {
  padding: 10px;
  max-width: 100%;
}

.index > svg > g > g:first-child {
  stroke-dasharray: 1350;
  stroke-dashoffset: 1350;
  animation: dash 2500ms linear forwards;
}

.index > svg > g > g:nth-child(2) {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: dash 2000ms linear forwards 250ms;
}

.index > svg > g > g:nth-child(3) {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 1000ms linear forwards 1250ms;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
