.index {
  background-color: var(--blue-1);
  width: 100%;
  padding: 15px 0 calc(25px + var(--footer-height)) 0;
}

.index-description {
  padding: 100px 40px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    var(--white-2),
    var(--blue-2) 50%,
    var(--blue-2)
  );
  border-image-slice: 1;
  border-right: none;
  border-left: none;
  background: var(--blue-2);
  font-family: var(--header-font);
  font-size: 33px;
  color: var(--white-1);
}

.index > svg {
  padding: 10px;
  max-width: 100%;
}

.index > svg > g {
  stroke-dasharray: 1350;
  stroke-dashoffset: -1350;
  animation-name: dash;
  animation-duration: 2500ms;
  animation-direction: forwards;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
